@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}

html,body{
    width: 100%;
    height: 100%;
}

/* ------------------------------------------ NAVIGATION BAR--------------------------------------------- */

#navBar{
    height: 13%;
    width: 100%;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
}

#navBar .ri-menu-fill{
    display: none;
}

#navBar h1{
    /* background-color: paleturquoise; */
    width: 20%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navBar h1 span{
    color: #9D38BD;
}

#nav-part2{
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navBar h2{
    font-weight: 400;
    font-size: 1.1vw;
    padding-top: 0.5vw;
    transition: all 0.1s linear;
    /* background-color: blanchedalmond; */
}


#navBar h2:hover{
    cursor: pointer;
    color: #832d9e;
}

#nav-part3{
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:25%;
}

#nav-part3 .button1,.button2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9D38BD;
    height: 3vw;
    width: 8vw;
    font-weight: 600;
    border-radius: 0.3vw;
}

#nav-part3 .button1{
    color: #9D38BD;    
    margin-left: 3vw;
    transition: all 0.15s linear;
}

#nav-part3 .button1:hover{
    cursor: pointer;
    color: white;
    background-color: #9D38BD;
    box-shadow: 0.3vw 0.3vw #C690D8;
}

#nav-part3 .button2{
    background-color: #9D38BD;
    margin-right: 2vw;
    color: white;
    transition: all 0.15s linear;
}

#nav-part3 .button2:hover{
    cursor: pointer;
    background-color: white;
    color: #9D38BD;
    box-shadow: 0.3vw 0.3vw #9D38BD;
}

#Responsive-nav{
    display: none;
}

/* ------------------------------------------ NAVIGATION BAR RESPONSIVENESS--------------------------------------------- */

@media (max-width:600px){
    #navBar{
        font-size: 1.1vw;
        height: 10%;
        width: 100%;
        display: flex;
        /* background-color: red; */
        align-items: center;
        justify-content: space-between;
    }
    
    #navBar .ri-menu-fill{
        font-size: 6.5vw;
        display: inline;
        margin-left: 2vw;
    }

    #navBar h1{
        font-size: 7vw;
        width: 50%;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #navBar h1 span{
        color: #9D38BD;
    }
    
    #nav-part2{
        display: none;
        /* width: 39%;
        display: flex;
        align-items: center;
        justify-content: space-between; */
    }
    
    #navBar h2{
        font-weight: 400;
        font-size: 1.1vw;
        padding-top: 0.5vw;
        transition: all 0.1s linear;
        /* background-color: blanchedalmond; */
    }
    
    #navBar h2:hover{
        cursor: pointer;
        color: #832d9e;
        /* text-decoration: underline; */
        /* opacity: 1; */
    }
    
    #nav-part3{
        /* background-color: skyblue; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        width:35%;
    }
    
    #nav-part3 .button1,.button2{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #9D38BD;
        height: 6vw;
        width: 10vw;
        font-weight: 600;
        font-size: 2vw;
        border-radius: 1vw;
    }
    
    #nav-part3 .button1{
        color: #9D38BD;    
        margin-left: 7vw;
        transition: all 0.15s linear;
    }
    
    #nav-part3 .button1:hover{
        cursor: pointer;
        color: white;
        background-color: #9D38BD;
        box-shadow: 0.3vw 0.3vw #C690D8;
    }
    
    #nav-part3 .button2{
        background-color: #9D38BD;
        margin-right: 2vw;
        color: white;
        transition: all 0.15s linear;
    }
    
    #nav-part3 .button2:hover{
        cursor: pointer;
        background-color: white;
        color: #9D38BD;
        box-shadow: 0.3vw 0.3vw #9D38BD;
    }

    #Responsive-nav{
        display: none;
        text-align: center;
        font-size: 2.5vw;
        font-weight: 300;
        background-color: #832d9e;
        color: white;
    }

    #Responsive-nav h2{
        padding: 2vw;
    }

    #Responsive-nav h2 i{
        padding: 2vw;
    }
}


/* ------------------------------------------ NAVIGATION BAR OVER--------------------------------------------- */



/* ------------------------------------------ MAIN PAGE--------------------------------------------- */

#main{
    width: 100%;
    height: calc(100% - 13%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-part1{
    height: 100%;
    width: 50%;
}

#main-part1 h1{
    font-size: 3.2vw;
    margin-top: 9vw;
    margin-left: 4vw;
}

#main-part1 p{
    color: rgb(73, 73, 73);
    width: 84%;
    margin-left: 4vw;
    margin-top: 2vw;
    line-height: 1.8vw;
}

#main-part1 span{
    color: #9D38BD;
}

#main-part1 #button{
    border: 2px solid #9D38BD;
    display: inline-block;
    color: white;
    background-color: #9D38BD;
    padding: 1vw 2vw;
    margin-left: 4vw;
    margin-top: 2vw;
    font-size: 1.4vw;
    font-weight: 600;
    transition: all 0.15s linear;
}

#main-part1 #button:hover{
    cursor: pointer;
    color: #9D38BD;
    background-color: white;
    box-shadow: 0.3vw 0.3vw #9D38BD;
}

#main-part2{
    height: 100%;
    width: 50%;
    position: relative;
}

#main-part2 .img1{
    position: absolute;
    width: 38%;
    height: 56%;
    top: 30%;
    transform: rotate(-6deg);
    background-image: url("./Images/study.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 10px solid #C690D8; */
    border-radius: 20%;
}

#main-part2 .img2{
    z-index: 99;
    position: absolute;
    width: 40%;
    height: 68%;
    top: 18%;
    left: 30%;
    background-image: url("./Images/study3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 10px solid #C690D8; */
    border-radius: 5%;
}

#main-part2 .img3{
    position: absolute;
    width: 38%;
    height: 56%;
    top: 30%;
    left: 60%;
    transform: rotate(6deg);
    background-image: url("./Images/study2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
}

/* ------------------------------------------ MAIN PAGE
RESPONSIVENESS--------------------------------------------- */

@media (max-width:600px){
    #main{
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    #main-part1{
        width: 100%;
        height: 100%;
        word-spacing: 1vw;
    }
    
    #main-part1 h1{
        font-size: 8.4vw;
        text-align: left;
        margin-top: 9vw;
        margin-left: 4vw;
    }
    
    #main-part1 p{
        color: rgb(73, 73, 73);
        width: 90%;
        margin-left: 4vw;
        margin-top: 5vw;
        line-height: 5vw;
        letter-spacing: 0.2vw;
    }
    
    #main-part1 span{
        color: #9D38BD;
    }
    
    #main-part1 #button{
        border: 2px solid #9D38BD;
        display: inline-block;
        color: white;
        background-color: #9D38BD;
        padding: 1vw 2vw;
        margin-left: 4vw;
        margin-top: 5.5vw;
        font-size: 3vw;
        font-weight: 600;
        transition: all 0.15s linear;
    }
    
    #main-part1 #button:hover{
        cursor: pointer;
        color: #9D38BD;
        background-color: white;
        box-shadow: 0.3vw 0.3vw #9D38BD;
    }
    
    #main-part2{
        display: none;
    }
    
    #main-part2 .img1{
        display: none;
    }
    
    #main-part2 .img2{
        display: none;
    }
    
    #main-part2 .img3{
        display: none;
    }
}

/* ------------------------------------------ MAIN PAGE
DONE--------------------------------------------- */


/* ------------------------------------------ PAGE 2 STARTED--------------------------------------------- */
#heading{

    text-align: center;
    /* letter-spacing: 0.15vw; */
    font-size: 3.2vw;
    margin-top: 1vw;
}

#page2{
    /* position: relative; */
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page2 .features{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page2 .features img{
    height: 60%;
    width: 62%;
    /* background-color: red; */
}

#page2 .features h2{
    font-weight: 500;
    font-size: 1.4vw;
    margin-top: 2.5vw;
    text-transform: uppercase;
}

#page2 #features1{
    /* background-color: wheat; */
    width: 20%;
    height: 100%;
}

#page2 #features2{
    /* background-color: wheat; */
    width: 20%;
    height: 100%;
}

#page2 #features3{
    /* background-color: wheat; */
    width: 20%;
    height: 100%;
}

#page2 #features4{
    /* background-color: wheat; */
    width: 20%;
    height: 100%;
}

#page2 #features5{
    /* background-color: wheat; */
    width: 20%;
    height: 100%;
}


/* ------------------------------------------ PAGE 2
RESPONSIVENESS--------------------------------------------- */

@media (max-width:600px){
    #heading{
        height: 65%;
        width: 100%;
        text-align: center;
        /* letter-spacing: 0.15vw; */
        font-size: 8.5vw;
        margin-top: 1vw;
    }
    
    #page2{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #page2 .features{
        margin-top: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #page2 .features img{
        height: 60%;
        width: 62%;
        /* background-color: red; */
    }
    
    #page2 .features h2{
        font-weight: 500;
        margin-top: 2.5vw;
        text-transform: uppercase;
    }
    
    #page2 #features1{
        /* background-color: wheat; */
        width: 100%;
        height: 100%;
    }
    
    #page2 #features2{
        /* background-color: wheat; */
        width: 100%;
        height: 100%;
    }
    
    #page2 #features3{
        /* background-color: wheat; */
        width: 100%;
        height: 100%;
    }
    
    #page2 #features4{
        /* background-color: wheat; */
        width: 100%;
        height: 100%;
    }
    
    #page2 #features5{
        /* background-color: wheat; */
        width: 100%;
        height: 100%;
    }
}

/* ------------------------------------------ PAGE 2 DONE--------------------------------------------- */

/* ------------------------------------------ PAGE 2 STARTED--------------------------------------------- */

#page3{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#page3 h1{
    font-size: 3.2vw;
    text-align: center;
    margin: 4vw 0;
}

#page3 h1 span{
    color: #9D38BD;
}

.card{
    width: 23rem;
}

#page3-part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page3-part2 .btn-primary{
    border: 1px solid #9D38BD;
    background-color: #9D38BD;
}

/* ------------------------------------------ PAGE 2 Responsive--------------------------------------------- */

@media (max-width:600px) {
    #page3{
        width: 100%;
        height: 90%;
        /* background-color: red; */
    }
    
    #page3 h1{
        font-size: 3.2vw;
        text-align: center;
        margin: 4vw 0;
    }
    
    #page3 h1 span{
        color: #9D38BD;
    }
    
    .card{
        width: 20rem;
    }
    
    #page3-part2{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #page3-part2 .btn-primary{
        border: 1px solid #9D38BD;
        background-color: #9D38BD;
    }    
}

/* ------------------------------------------ PAGE 2 OVER--------------------------------------------- */

#page4{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#page4 h1{
    text-align: center;
    font-size: 3.2vw;
}

#page4 h1 span{
    color: #9D38BD;
}

#page4 #container{
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container #part1{
    width: 50%;
    height: 100%;
    /* background-color: wheat; */
}

#container #part1 img{
    margin-left: 10vw;
    width: 60%;
    /* height: 50%; */
    border-radius: 20%;
    /* box-shadow: 1vw 1vw 0.4vw #bca6e8; */
}

#container #part2{
    padding: 0vw 2vw 2vw 2vw;
    /* background-color: skyblue; */
    width: 42%;
    height: 100%;
}

#container #part2 #name p:nth-last-child(2){
    margin-top: 1vw;
}

#container #part2 #name input{
    width: 64%;
    border-radius: 4px;
    height: 40px;
    background-color: rgb(244, 244, 244);
}


#container #part2 #name p,input{
    border: none;
    border-style: none;
}


#container #part2 #mail p{
    margin-top: 1vw;
}

#container #part2 #mail input{
    border: none;
    background-color: rgb(244, 244, 244);
    border-style: none;
    width: 64%;
    border-radius: 4px;
    height: 40px;
}

#container #part2 #text p{
    margin-top: 1vw;
}
/* 
#container #part2 #box{
    
    width: 100%;
    height: 100%;
    order-radius: 4px;
    border: none;
    background-color: rgb(244, 244, 244);
    background-color: red;
    border-style: none; 
} */

#container #part2 #textBox p{
    margin-top: 1vw;
}

#container #part2 #box {
    width: 64%;
    height: 100px;
    /* background-color: red; */
    border-radius: 4px;
    background-color: rgb(244, 244, 244);
}

#container #part2 #button{
    margin-top: 1.5vw;
    background-color: #B19BDC;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2vw;
    padding: 1vw 3vw;
    color: white;
    font-size: 1.2vw;
}

#container #part2 #button:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 4px 4px #B19BDC;
    color: black;
    border: 2px solid #B19BDC;
}